altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
cmdstanpy
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
gitdb
GitPython
holidays
idna
importlib_resources
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
narwhals
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
prophet
protobuf
psutil
pure_eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
six
smmap
stack-data
stanio
streamlit
tenacity
toml
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
